@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-button {
    @apply w-[30px] ml-[2em];
}
body {
    @apply bg-slate-800 text-white;
}

.dark-mode body {
    @apply bg-slate-950 text-white;
}

.title {
    @apply text-4xl mt-5 font-bold  font-serif;
}

.main-wrapper {
    @apply flex mt-9 w-[100%] flex-col items-center;
    .logo-container {
        @apply relative;
        &:hover {
            @apply relative  animate-none;
        }
    }
}
.main-logo {
    @apply animate-slow_pulse cursor-default;
    filter: drop-shadow(0 0 2em #252863aa);
    &:hover {
        @apply animate-none cursor-pointer;
        filter: drop-shadow(0 0 2em #646cffaa);
    }
}

.toast {
    animation: fade-in 1s ease-in-out;
    @apply bg-slate-600 rounded-[2em] p-2;
    .toast-icon {
        @apply h-[1.5em];
    }
}
.danger {
    @extend .toast;
    background: rgba(185, 28, 28, 1) !important;
}
.warning {
    @extend .toast;
    background: rgba(245, 158, 11, 1) !important;
}
.success {
    @extend .toast;
    background: rgb(101, 163, 13, 1) !important;
}


.modal-add {
    background-color:  rgb(33, 25, 78);
    animation: fade-in 1s ease-in-out;
    @apply border-none absolute bottom-0 rounded-[0.5em] w-[90%] text-center  mx-[1em];
    i {
        @apply cursor-pointer;
    }
}
.modal-close {
    @apply cursor-default opacity-70 h-[1.5em];
    &:hover {
        @apply cursor-pointer opacity-100;
    }
}
.modal-button {
    @apply cursor-default text-[12px] p-[7px] rounded-[3px] bg-cyan-600 opacity-75;
    &:hover {
        @apply cursor-pointer text-[12px] p-[7px] rounded-[3px] font-bold bg-blue-800 opacity-100;
    }
}


.dashboard-wrapper {
    @apply flex py-9 w-[100%] flex-col items-center;
    .dash-title {
        @apply text-4xl mt-5 font-bold  font-serif;
    }
    .tag {
        @apply w-fit px-2 py-2 mt-[3em] rounded-tl-md rounded-tr-md;
    }
    .list-group {
        @apply overflow-y-scroll flex flex-col h-[360px] items-center w-[20em] px-[10px];
    }
    .add-button {
        @apply w-[100%] text-center;
        &:hover {
            background-color:  rgba(182, 182, 182, 0.075);
            @apply cursor-pointer;
        }

    }
    .br-white {
        border-right: 1px solid #ccc;
    }
    .bl-white {
        border-left: 1px solid #ccc;
    }
    
    .list-group-item {
        background-color:  rgb(33, 25, 78);
        @apply border-none w-[100%]  my-[1px] cursor-move;
        i {
            @apply cursor-pointer;
        }
    }
    .flip-list-move {
        transition: transform 0.5s;
    }
    .no-move {
        transition: transform 0s;
    }
    .ghost {
        @apply opacity-50 bg-[#B3D9EB] text-[black];
    }

}
@keyframes fade-in {
    0% {
      opacity: 0;
      transform: scaleY(0);
      transform: translateY(2vh);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
      transform: translateY(0);
    }
}